@import 'setting';
@import 'common';
@import 'header';
$green: #40bd56;
$darkGreen: #4aa05a;
$blue: #0ca1f9;
$darkBlue: rgb(63, 137, 185);
$dark: #252525;
$softDark: #353535;
$thinShadow: 0 1px 1px rgba(0, 0, 0, 0.3);
$normalShadow: 0 2px 2px rgba(0, 0, 0, 0.3);
$transition: all 0.3s ease-in;
$red: red;
$orange: #f99a0c;

.main-content {
    width: 100%;
    min-height: 600px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    .show {
        display: block;
    }
    .hide {
        display: none !important;
    }
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    input {
        outline: none;
    }
    .bold {
        font-weight: bold;
    }

    .btn {
        border-radius: 25px;
        i {
            margin-right: 5px;
            font-size: 18px;
            &.left {
                margin-right: 5px;
                margin-left: 0;
            }
            &.right {
                margin-left: 5px;
                margin-right: 0;
            }
        }
        &:disabled {
            background: #ccc;
            color: #666;
            i {
                color: #666;
            }
        }
        &.create-btn {
            &:disabled {
                background: rgb(92, 157, 187);
                color: #fff;
            }
        }
    }
    .btn-small {
        font-size: 12px;
        padding: 3px 15px 4px 12px;
        i {
            font-size: 12px;
        }
    }
    .btn-normal {
        font-size: 14px;
        padding: 6px 25px 7px 25px;
    }
    .btn-medium {
        font-size: 20px;
        padding: 10px 35px;
    }
    .btn-green {
        background-color: $green;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-red {
        background-color: $red;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-gray {
        background-color: #eee;
        box-shadow: $thinShadow;
        color: #888;
        i {
            color: #888;
        }
        &:hover {
            background: #5ca16a;
            color: #fff;
        }
    }
    .btn-blue {
        background-color: $blue;
        color: #fff;
        &:disabled {
            background-color: rgb(142, 174, 201);
            color: rgb(217, 230, 241);
            i {
                color: rgb(217, 230, 241);
            }
        }
        i {
            color: #fff;
        }
    }
    .btn-white {
        background-color: #fff;
        color: $darkBlue;
        i {
            color: $darkBlue;
        }
        box-shadow: $thinShadow;
    }
    .btn-default {
        background-color: #f9f9f9;
        color: $dark;
        i {
            color: $dark;
        }
        box-shadow: $thinShadow;
    }
    .btn-orange {
        background-color: $orange;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-dark {
        background-color: #555;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-loading {
        svg {
            color: #fff;
        }
    }
    .btn-dark-green {
        background-color: #428d51;
        color: #fff;
        i {
            color: #fff;
        }
    }
    .btn-icon {
        &.btn-normal {
            font-size: 20px;
        }
        &.btn-medium {
            font-size: 26px;
        }
    }
    .btn-right {
        margin-left: 10px;
    }
    .btn-left {
        margin-right: 10px;
    }
    .green {
        color: $green;
    }
    .red {
        color: $red;
    }
    .blue {
        color: $blue;
    }
    .gray {
        color: gray;
    }
    .btn-left {
        float: right;
    }
    .top {
        padding: 20px 0;
        border-bottom: 4px solid #d2e0e7;
        .buttons {
            button {
                margin-right: 15px;
                &.actived {
                    color: #fff;
                    background: $green;
                }
            }
        }
        .search {
            padding-right: 40px;
            position: relative;
            input {
                padding: 5px;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #ddd;
            }
            i {
                position: absolute;
                margin-right: 50px;
                margin-top: 6px;
                right: 0;
                color: $blue;
            }
        }
    }
    .main {
        padding: 20px;
        background: $darkBlue;
        box-shadow: $thinShadow;
        min-height: 300px;
        .messages {
            width: 100%;
            max-height: 400px;
            overflow: auto;
            .msg-row-wrp {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .avatar {
                    font-size: 40px;
                    border: 5px solid rgb(78, 155, 206);
                    border-radius: 50%;
                    color: #fff;
                    box-shadow: $thinShadow;
                    margin-right: 15px;
                }
                .msg-row {
                    padding: 20px;
                    background: #fff;
                    line-height: 24px;
                    border-radius: 10px;
                }
                .arrow-left {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #fff;
                }
            }
        }
        .no-mgs {
            color: #fff;
        }
    }
    .input {
        padding: 20px;
        background: #f9f9f9;
        box-shadow: $thinShadow;
        .input-error {
            padding-bottom: 15px;
            font-size: 14px;
            color: $orange;
        }
        .input-form {
            input {
                font-size: 16px;
                padding: 10px 25px;
                min-width: 500px;
                border-radius: 25px;
                border: 1px solid #ccc;
            }
            .btn {
                margin-left: -40px;
                font-size: 20px;
            }
        }
    }
    .warning {
        color: #666;
        i {
            color: $orange;
            margin-right: 10px;
        }
    }
}
